.action-bar {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 10;

  .action-button {
    margin: 0 1px;
    opacity: 0.7;
    transition: color 0.3s ease-in-out;

    &:hover {
      opacity: 1;
    }
  }
}
